body {
    padding-top: 50px;
}
.folder-select {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.folder-button {
    position: relative;
}

#wrapper .folder-display {
    width: 500px;
}

.title-column {
    width: 70%;
}

.progress-column {
    width: 30%;
}

body .progress {
    margin-bottom: 0px;
}

body .audio {
    height: 37px;
}

body .audio button {
    padding-top: 0px;
    padding-bottom: 0px;
}